	body
	{
		margin-top:40px;
		background-color: #000;
                height: 4000px;
	}


.main_clock
	{
		background-color: #222;
		color: #fff;
		height: 320px;
		line-height: 320px;
		width: 90vw;
		margin: 15px auto;
		padding: 5px;
		border-radius: 15px;
		box-shadow: 0 0 7px #222;
		display: table;
	}
	.main_title
	{
		color: #eee;
		width: 55%;
		float: left;
		font-family: 'Oswald', sans-serif;
		font-weight: 200;
		font-size: 110px;
					padding-left: 10px;
		  display: table-cell;
			vertical-align: middle;
	}
	.main_time
	{
		text-align: right;
		width: 40%;
		float: right;
		color: #ccc;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		padding-right: 10px;
		font-size: 200px;
		text-align: center;
		  display: table-cell;
			vertical-align: middle;
	}			



	.sub_clock
	{
		background-color: #222;
		color: #fff;
		height: 195px;
		line-height: 195px;
		width: 90vw;
		margin: 15px auto;
		padding: 5px;
		border-radius: 15px;
		box-shadow: 0 0 7px #222;
		display: table;
	}
	.sub_title
	{
		color: #eee;
		width: 55%;
		float: left;
		font-family: 'Oswald', sans-serif;
		font-weight: 200;
		font-size: 95px;
					padding-left: 10px;
		  display: table-cell;
			vertical-align: middle;
	}
	.sub_time
	{
		text-align: right;
		width: 40%;
		float: right;
		color: #ccc;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		padding-right: 10px;
		font-size: 95px;
		  display: table-cell;
			vertical-align: middle;
	}			

